<div class="container">
  <div class="row">
    <div class="col-lg-12" flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
      flow-files-submitted="$flow.upload()" ng-controller="editCardFormCtrl" >
      <div class="addCardForm">
        <form name="cardForm" role="form" ng-submit="editCard(cardForm, $flow.files[0].name)" novalidate>
          <div class="form-group">
            <label class="control-label">Title</label>
            <input name="titleText" type="text" class="form-control" ng-model="currentCard.title" ></input>
            <label class="control-label">Upload an image:</label>
            <!-- <input type="file" flow-btn /> -->

            <div>
              <div class="thumbnail" ng-hide="$flow.files.length">
                <img ng-src={{currentCard.image}} />
              </div>
              <div class="thumbnail" ng-show="$flow.files.length">
                <img flow-img="$flow.files[0]" />
              </div>
              <div>
                <input type="button" class="btn btn-primary" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}" value="Upload"/>
                <input type="button"  class="btn btn-primary" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}" value="Change" />
                <input type="button"  class="btn btn-danger" ng-show="$flow.files.length" flow-attrs="{accept:'image/*'}" ng-click="$flow.cancel()" value="Remove" />
              </div>
              <p>
                Only PNG,GIF,JPG files allowed.
              </p>
            </div>

            <label class="control-label">Description</label>
            <textarea name="descriptionText" type="text" class="form-control" ng-model="currentCard.content"></textarea>
            <tags-input ng-model='currentCard.tags'></tags-input>
            <button type="submit" class="btn btn-info">Save</button>
            <button type="submit" class="btn btn-primary">Go Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
