<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="addCardForm-edit">
        <form name="cardForm" role="form" ng-submit="addCard(cardForm)" editable-form novalidate>
          <div class="form-group">
            <label class="control-label">Title</label>
            <p>
            <span>{{currentCard.title}}: title goes before the colon</span>
            <p>
            <label class="control-label">Description</label>
            <textarea name="descriptionText" type="text" class="form-control" ng-model="descriptionText"> {{descriptionText}}</textarea>
            <tags-input ng-model='tagsText'></tags-input>
            <button type="submit" class="btn btn-info">Edit Card</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
