<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="addCardForm-edit">
        <form name="cardForm" role="form" ng-submit="editCard(cardForm)" novalidate>
          <div class="form-group">
            <label class="control-label">Title</label>
            <input name="titleText" type="text" class="form-control" ng-model="currentCard.title" ></input>
            <label class="control-label">Image URL</label>
            <input name="imgUrl" type="text" class="form-control" ng-model="currentCard.image" ></input>
            <label class="control-label">Description</label>
            <textarea name="descriptionText" type="text" class="form-control" ng-model="currentCard.content"></textarea>
            <tags-input ng-model='currentCard.tags'></tags-input>
            <button type="submit" class="btn btn-info">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
