<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="addCardForm-edit">
        <form name="signupForm" role="form" ng-submit="signup(signupForm)" novalidate>
          <div class="form-group">
            <label class="control-label">Username</label>
            <input name="email" type="text" class="form-control" ng-model="user.username" placeholder="Username"></input>
            <label class="control-label">Password</label>
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
            <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
            <button type="submit" class="btn btn-info">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
