body {
  padding: 50px 0 0 0;
  text-align: left; }
  body .small {
    text-align: center; }
  body .navbar-default .navbar-brand {
    color: #46b8da; }
  body .navbar-default {
    box-shadow: 2px 2px 5px #888; }
  body nav {
    margin-top: -50px; }
    body nav li {
      margin: 5px 5px; }
    body nav .btn-info {
      box-shadow: 2px 2px 5px #888; }
  body .navbar-default .navbar-brand {
    font-size: 2em; }
  body .navbar-brand a:link, body .navbar-brand a:visited {
    color: #9900CC; }
  body .individualCard {
    padding: 20px;
    background-color: white;
    color: #000;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 10px #888888;
    display: inline-block;
    border: solid 0.25px;
    z-index: 1;
    overflow: hidden; }
    body .individualCard:hover {
      border: dashed 1px #46b8da;
      background-color: #eee; }
  body .individualCard-container {
    margin: 5px 10px;
    background-color: white;
    display: inline-block;
    height: 350px;
    background-color: #ccc;
    width: 350px;
    z-index: -1; }
    body .individualCard-container .tags {
      color: #f0ad4e;
      font-weight: bold; }
    body .individualCard-container .descriptiveImages {
      display: block;
      max-width: 275px;
      max-height: 250px;
      width: auto;
      height: auto; }
  body .addCardForm {
    text-align: left;
    padding: 20px;
    margin: 25px;
    border: solid 1px;
    width: 100%;
    z-index: 2; }
    body .addCardForm input[type='text'], body .addCardForm textarea {
      margin-bottom: 5px; }
  body .addCardForm-edit {
    padding: 20px;
    margin: 25px; }
    body .addCardForm-edit input[type='text'], body .addCardForm-edit textarea, body .addCardForm-edit tags-input {
      margin-bottom: 25px; }
  body .card-title {
    font-size: 1.5em; }
  body #done .done-title .btn-success {
    margin: -2.5px 0; }
  body #done .jumbotron {
    padding: 15px;
    min-height: 200px;
    margin: 15px 0; }
    body #done .jumbotron .btn-success {
      margin: 10px; }
  body .done-title {
    margin: 10px 5px;
    color: #46b8da; }
  body .showImages {
    display: block;
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto; }
  body .hover-options {
    text-align: right;
    margin: 10px 0 0 -35px;
    height: 100%; }
    body .hover-options .glyphicon {
      padding: 0 2.5px; }
    body .hover-options a:link, body .hover-options a:visited {
      text-decoration: none; }
    body .hover-options a:hover .glyphicon {
      color: #000; }
