body {
  padding: 50px 0 0 0;
  text-align: left;
  font-family: 'Lato', sans-serif;
  background-color: #F4F4F4;
  color: #4783B8; }
  body .small {
    text-align: center; }
  body .navbar-default .navbar-brand {
    color: #F4F4F4; }
  body .navbar-default {
    box-shadow: 2px 2px 5px #888;
    background-color: #4783B8;
    border-color: #4783B8; }
  body nav {
    margin-top: -50px; }
    body nav li {
      margin: 5px 5px;
      font-family: 'Open Sans', sans-serif;
      color: #F4F4F4; }
    body nav .btn-info {
      background-color: #F4F4F4;
      color: #4783B8;
      border: none;
      box-shadow: 2px 2px 5px #888; }
      body nav .btn-info:hover {
        background-color: #dbdbdb;
        color: #4783B8; }
    body nav .btn-warning {
      color: #555; }
  body .navbar-default .navbar-brand {
    font-size: 2em; }
  body .navbar-brand a:link, body .navbar-brand a:visited {
    color: #F4F4F4; }
  body .individualCard {
    padding: 20px;
    background-color: white;
    color: #000;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 10px #888888;
    display: inline-block;
    z-index: 1;
    overflow: hidden; }
    body .individualCard:hover {
      border: dashed 1px #46b8da;
      background-color: #eee; }
  body .individualCard-container {
    margin: 5px 10px;
    background-color: white;
    display: inline-block;
    height: 350px;
    background-color: #ccc;
    width: 350px;
    z-index: -1; }
    body .individualCard-container .tags {
      color: #f0ad4e;
      font-weight: bold; }
    body .individualCard-container .descriptiveImages {
      display: block;
      max-width: 275px;
      max-height: 175px;
      width: auto;
      height: auto;
      margin: 20px auto; }
  body .small {
    font-size: 1em; }
  body .main-container a {
    display: inline-block;
    cursor: pointer; }
  body .addCardForm {
    text-align: left;
    padding: 20px;
    margin: 25px;
    border: solid 1px;
    width: 100%;
    z-index: 2; }
    body .addCardForm input[type='text'], body .addCardForm textarea {
      margin-bottom: 5px; }
  body .addCardForm-edit {
    padding: 20px;
    margin: 25px; }
    body .addCardForm-edit input[type='text'], body .addCardForm-edit textarea, body .addCardForm-edit tags-input {
      margin-bottom: 25px; }
  body .card-title {
    font-size: 1.5em;
    white-space: nowrap;
    margin-bottom: 20px;
    word-wrap: break-word; }
  body #done .done-title .btn-success {
    background-color: #76C151;
    margin: -2.5px 0;
    border: none;
    cursor: default;
    font-size: 1em; }
  body #done .jumbotron {
    padding: 15px;
    min-height: 500px;
    margin: 15px 0; }
    body #done .jumbotron .doneItem {
      text-align: center;
      background-color: #76C151;
      color: #F4F4F4;
      margin: 10px;
      padding: 5px;
      border: solid #76C151;
      border-radius: 25px; }
      body #done .jumbotron .doneItem:hover {
        cursor: pointer; }
      body #done .jumbotron .doneItem .glyphicon {
        color: #F4F4F4;
        float: right;
        font-size: 0.75em;
        text-align: right;
        margin: -25px 10px 0 0; }
      body #done .jumbotron .doneItem a:link, body #done .jumbotron .doneItem a:visited {
        text-decoration: none; }
      body #done .jumbotron .doneItem a:hover .glyphicon {
        color: #6A6A6A; }
  body .search .btn-default {
    color: #529BD2;
    z-index: 2;
    margin: 0 -40px; }
  body .done-title {
    margin: 10px 5px;
    color: #4783B8; }
  body .showImages {
    display: block;
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto; }
  body .hover-options {
    text-align: right;
    margin: -25px -15px;
    padding: 10px;
    height: 100%; }
    body .hover-options .glyphicon {
      padding: 0 2.5px; }
    body .hover-options a:link, body .hover-options a:visited {
      text-decoration: none; }
    body .hover-options a:hover .glyphicon {
      color: #6A6A6A; }
  body .addCardForm-login {
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    color: #6A6A6A; }
    body .addCardForm-login input[type='password'], body .addCardForm-login input[type='text'] {
      margin-bottom: 15px; }
  body .box {
    width: 75%;
    margin: 25px auto;
    border: solid #4783B8;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #ccc;
    background-color: #fdfdfd;
    padding: 10px; }
    body .box img {
      margin: 25px auto; }
    body .box p {
      margin: 50px 50px 25px 50px; }
    body .box .warning {
      color: red;
      display: block;
      width: 100%;
      text-align: center; }
  body .cardNav {
    margin: 0 0 -15px 125px;
    padding: 10px; }
    body .cardNav a {
      margin-left: 10px;
      cursor: pointer;
      font-size: 1.25em; }
      body .cardNav a:hover {
        text-decoration: none;
        color: #6A6A6A; }

.acceptContainer {
  margin: 0 auto;
  height: 100px;
  width: 350px;
  color: #4783B8;
  border: 5px dotted #529BD2; }

@media (min-width: 0px) and (max-width: 767px) {
  body nav {
    margin-top: -50px;
    max-height: 75px; }
    body nav ul li {
      float: right;
      margin: -25px 10px 0 0;
      font-family: 'Open Sans', sans-serif;
      color: #F4F4F4; }
  .search {
    float: right;
    width: 100%;
    display: inline-block; }
    .search .btn-default {
      position: absolute;
      top: 19px;
      display: inline-block; } }
