$main:#46b8da;
$tags:#f0ad4e;
$headers:#d9534f;

$lightBlue:#529BD2;
$green:#76C151;
$lightWhite:#fdfdfd;
$white:#F4F4F4;
$offWhite:#dbdbdb;
$darkBlue:#4783B8;
$gray:#6A6A6A;

$headerFont:'Lato', sans-serif;
$bodyFont:'Open Sans', sans-serif;

body {
  padding: 50px 0 0 0;
  text-align:left;
  font-family:$headerFont;
  background-color:$white;
  color:$darkBlue;

  .small {
    text-align:center;
  }

  .navbar-default .navbar-brand{
    color:$white;
    }

  .navbar-default{
    box-shadow: 2px 2px 5px #888;
    background-color:$darkBlue;
    border-color:$darkBlue;
  }

  nav{
    margin-top: -50px;
    li {
      margin: 5px 5px;
      font-family:$bodyFont;
      color:$white;
    }

    .btn-info {
      background-color:$white;
      color:$darkBlue;
      border:none;
      box-shadow: 2px 2px 5px #888;
      &:hover{
        background-color:$offWhite;
        color:$darkBlue;
      }
    }
    .btn-warning {
        color:#555;
      }
  }

  .navbar-default .navbar-brand{
      font-size: 2em;
    }

    .navbar-brand a:link, .navbar-brand a:visited {
        color:$white;
    }

  .individualCard {
    padding: 20px;
    background-color: white;
    color:#000;
    height:100%;
    width:100%;
    box-shadow: 5px 5px 10px #888888;
    display: inline-block;
    z-index: 1;
    overflow:hidden;
    &:hover{
      border:dashed 1px $main;
      background-color:#eee;
    }
  }


  .individualCard-container {
    margin: 5px 10px;
    background-color: white;
    display: inline-block;
    height:350px;
    background-color:#ccc;
    width:350px;
    z-index: -1;

    .tags {
      color:$tags;
      font-weight:bold;
    }

    .descriptiveImages {
      display: block;
      max-width:275px;
      max-height:175px;
      width: auto;
      height: auto;
      margin: 20px auto;

    }
  }
  .small{
      font-size:1em;
    }

  .main-container{
    a{
      display:inline-block;
      cursor:pointer;
    }

  }

  .addCardForm {
    text-align:left;
    padding:20px;
    margin: 25px;
    border: solid 1px;;
    width: 100%;
    z-index: 2;

    input[type='text'], textarea {
      margin-bottom: 5px;
    }

  }

  .addCardForm-edit{
    padding:20px;
    margin: 25px;

    input[type='text'], textarea, tags-input {
      margin-bottom: 25px;
    }
  }

  .card-title{
    font-size:1.5em;
    white-space: nowrap;
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  #done {
    .done-title{
      .btn-success {
        background-color:$green;
        margin:-2.5px 0;
        border:none;
        cursor:default;
        font-size:1em;
      }
    }
    .jumbotron{
      padding:15px;
      min-height: 1000px;
      margin:15px 0;

    .doneItem{
      text-align:center;
      background-color:$green;
      color:$white;
      margin: 10px;
      padding:5px;
      border:solid $green;
      border-radius:25px;

      &:hover{
        //color:$gray;
        cursor:pointer;
      }

      .glyphicon{
        color:$white;
        float:right;
        font-size:.75em;
        text-align:right;
        margin: -25px 10px 0 0;
      }
      a:link, a:visited {
        text-decoration:none;
      }
      a:hover{
        .glyphicon{
          color:$gray;
        }
      }
    }

    }

  }

  .search{
    .btn-default{
      color:$lightBlue;
      z-index:2;
      margin:0 -40px;
    }
  }


  .done-title {
    margin:10px 5px;
    color:$darkBlue;
  }

  .showImages {
      display: block;
      max-width:700px;
      max-height:700px;
      width: auto;
      height: auto;

    }

  .hover-options{
    text-align:right;
    //background-color:rgba(255, 255, 255, 0.5);
    margin: -25px -15px;
    padding:10px;
    height:100%;
    .glyphicon{
      padding: 0 2.5px;
    }
    a:link, a:visited {
      text-decoration:none;
    }
    a:hover{
      .glyphicon{
        color:$gray;
      }
    }
  }

  .addCardForm-login{
    margin: 0 auto;
    padding:10px;
    width:90%;
    font-family:$bodyFont;
    color:$gray;

    input[type='password'], input[type='text'] {
      margin-bottom: 15px;
    }
  }

  .box{
    width:75%;
    margin:25px auto;
    border:solid $darkBlue;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #ccc;
    background-color:$lightWhite;
    padding:10px;
    img{
        margin: 25px auto;
      }
      p{
        margin: 50px 50px 25px 50px;
      }

    .warning{
      color:red;
      display:block;
      width:100%;
      text-align:center;
    }
  }

  .cardNav {
    margin:0 0 -15px 125px;
    padding:10px;
    a{
      margin-left:10px;
      cursor:pointer;
      font-size: 1.25em;
      &:hover{
        text-decoration:none;
        color:$gray;
      }
    }
  }
}

.acceptContainer{
  margin: 0 0 0 15px;
  height:350px;
  width:350px;
  color:$darkBlue;
  font-size:1.5em;
  border:5px dotted $lightBlue;
  padding:125px 0 0 0;

}


@media (min-width: 0px) and (max-width: 767px){
  body{
    nav{
      margin-top: -50px;
      max-height:75px;
      ul{
        li {
          float:right;
          margin: -25px 10px 0 0;
          font-family:$bodyFont;
          color:$white;
        }
      }
    }
  }

  .search{
    float:right;
    width:100%;
    display:inline-block;
    .btn-default{
      position:absolute;
      top:19px;
      display:inline-block;

    }
 }



}



