$main:#46b8da;
$tags:#f0ad4e;
$headers:#d9534f;

body {
  padding: 50px 0 0 0;
  text-align:left;

  .small {
    text-align:center;
  }

  .navbar-default .navbar-brand{
    color:$main;
    }

  .navbar-default{
    //background-color:$main;
    box-shadow: 2px 2px 5px #888;
  }

  nav{
    margin-top: -50px;
    li {
      margin: 5px 5px;
    }

    .btn-info {
      // background-color:#FFF;
      // color:$main;
      box-shadow: 2px 2px 5px #888;
    }
  }

  .navbar-default .navbar-brand{
      font-size: 2em;
    }

    .navbar-brand a:link, .navbar-brand a:visited {
        color:#9900CC;
    }

  .individualCard {
    padding: 20px;
    background-color: white;
    color:#000;
    height:100%;
    width:100%;
    box-shadow: 5px 5px 10px #888888;
    display: inline-block;
    border: solid .25px;;
    z-index: 1;
    overflow:hidden;
    &:hover{
      border:dashed 1px $main;
      background-color:#eee;
    }
  }


  .individualCard-container {
    margin: 5px 10px;
    background-color: white;
    display: inline-block;
    height:350px;
    background-color:#ccc;
    width:350px;
    z-index: -1;

    .tags {
      color:$tags;
      font-weight:bold;
    }

    .descriptiveImages {
      display: block;
      max-width:275px;
      max-height:250px;
      width: auto;
      height: auto;

    }
  }

  .addCardForm {
    text-align:left;
    padding:20px;
    margin: 25px;
    border: solid 1px;;
    width: 100%;
    z-index: 2;

    input[type='text'], textarea {
      margin-bottom: 5px;
    }

  }

  .addCardForm-edit{
    padding:20px;
    margin: 25px;

    input[type='text'], textarea, tags-input {
      margin-bottom: 25px;
    }
  }

  .card-title{
    font-size:1.5em;
  }
  .card-description{

  }
  #done {
    .done-title{
      .btn-success {
        margin:-2.5px 0;
      }
    }
    .jumbotron{
      padding:15px;
      min-height: 200px;
      margin:15px 0;

      .btn-success {
        margin:10px;
      }
    }


  }

  .done-title {
    margin:10px 5px;
    color:$main;
  }
  .showImages {
      display: block;
      max-width:700px;
      max-height:700px;
      width: auto;
      height: auto;

    }

  .hover-options{
    text-align:right;
    //background-color:rgba(255, 255, 255, 0.5);
    margin: 10px 0 0 -35px;
    // margin: -10px -15px;
    // padding:10px;
    height:100%;
    .glyphicon{
      padding: 0 2.5px;
    }
    a:link, a:visited {
      text-decoration:none;
    }
    a:hover{
      .glyphicon{
        color:#000;
      }
    }
  }
}


